body{
  font-family: 'PT Serif', serif;
}
header{
 background: url('../images/alaska7.jpg') no-repeat center;
  height: 400px;
  width: 100%;
  background-size: cover;
  text-align: center;
  position: relative;
}
#title{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  color: white;
  font-family: 'Spectral SC', serif;
  margin-top: -60px;
}
header h1{
  margin-top: 300px;
  font-size : 4em;
}
header h2{
  font-size :3em;
}
#barbar{
  width: 100%;
  position: fixed;
  z-index: 95;
}
.container-fluid{
  margin-right: 0px;
}
.navbar {
  background-color: #047e7e;
}
#barbar li, a{
  color: white;
}
.nav li{
  margin-right: 10px;
  margin-left: 10px;
  font-size: 1.2em;
}
#nav-hamburger{
  display: none;
}
#avatar-Forteroche{
  background: url('../images/ecrivain.png') no-repeat top;
  background-size: cover;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  overflow: hidden;
  margin: auto;
  margin-top: 50px;
  margin-left: 30px;
}
#presentation{
  margin-top: 50px;
  text-align: center;
}
#Forteroche{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#description{
  font-style: italic;
  font-weight: bold;
  font-size: 1em;
  max-width: 700px;
  padding-left: 20px;
  padding-right: 100px;
}
.chapters p{
  padding-left: 5px;
  padding-right: 5px;
}
#chapter_container  h2{
  font-size: 1.3em;
  color: #047e7e;
}
#lastChapters{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px; 
  font-size : 1.5em;
  color: #047e7e;
  font-weight: bold;
}
#lastPosts{
  margin: auto;
  max-width: 1800px;
  display: flex;
  justify-content: space-around;
}
#admin_container  h2{
    color: #047e7e;
}
.postHome{
  border: 1px solid #c4c5ca;
  border-radius: 5px;
  text-align: center;
  max-width: 475px;
  padding-left: 10px;
  padding-right: 10px;
}
.postHome h3{
  font-size: 1em;
  font-weight: bold;
}

#contact_container h1{
  color : #047e7e;
}
.buttonNext
{
  background-color: #047e7e;
  color: white;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 200px;
  height: 40px;
}
.btn:hover
{
  color: #c4c5ca;
}
.btn-default{
   background-color: #047e7e;
   color: white;
}
.btn-default:hover{
   background-color: white;
   color: #047e7e;
}
.ecrivain a{
    color: #ffffff;
    text-decoration: underline;
}
.ecrivain{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 25px;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 20px;
}
.ecrivain img{
    margin-right: 25px;
    min-width: 180px;
    max-height: 250px;
}
.ecrivain p{
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    word-wrap: break-word;
    line-height: 40px;
}
footer
{
  max-height: 400px;
 
  margin-top: 100px;
  color: white;
  font-family: Arial,'Spectral SC', serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
    width: 100%;
    height: 600px;
    padding-top: 20px;
    padding-right: 30px;
    background: linear-gradient(#008080, #cb2a16);
}

}
.social-media
{
  display: flex;
  justify-content: space-around;
  width: 150px;
}
.social-media a
{
  text-decoration: none;
  color: white;
}
#container
{
  max-width: 960px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
#container  h3
{
  font-size : 2em;
  color: #047e7e;
  text-align: center;
  font-weight: bold;
}
.chapters
{
  max-width: 480px;
  margin: auto;
  margin-bottom: 50px;
  padding-bottom: 20px;
  text-align: center;
  border: 3px solid #c4c5ca;
  border-bottom: 5px solid #222222;
}
.chaptersHidden
{
  display: none;
}
#widget
{
  max-width: 350px;
}
#search
{
  display: flex;
  padding: 25px;
  margin: auto;
  border: 3px solid #c4c5ca;
  border-bottom: 5px solid #222222;
  align-items: center;
  margin-bottom: 50px;
}
#buttonSearch
{
  border-radius: 5px;
}

#follow
{
  border: 3px solid #c4c5ca;
  border-bottom: 5px solid #222222;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  margin-bottom: 50px;
}
#follow a
{
  text-decoration: none;
  color: #222222;
  margin-right: 50px;
}
#btnMoreChapters
{
  text-align: center;
}
#more_chapters
{
  background-color: #222222;
  color: white;
  font-size: 1.5em;
}
#contact_container
{
  max-width: 500px;
  margin: auto;
  margin-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
}
#success
{
  margin-top:20px;
}
#chapter_container
{
  margin: auto;
  max-width: 960px;
  text-align: justify;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 3px solid #c4c5ca;
  border-top: 5px solid #222222;
  box-shadow: 0px 2px 2px #c4c5ca;

}
#chapter_container h2
{
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
}
#p_italic
{
  text-align: center;
  margin-bottom: 25px;
}
#chapter_container p
{
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 25px;
}
#comment_container
{
  border-top: 5px solid #222222;
  max-width: 960px;
  margin: auto;
  padding: 25px;
}
.comments
{
  border: 1px solid #c4c5ca;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  word-wrap: break-word;
}

.date-comment
{
  float:right;
}
#admin_container
{
  text-align: center;
  margin-top: 50px;
}
#chapter_admin_container
{
  display: flex;
  justify-content: space-around;
  margin: auto;
  max-width: 1600px;
}
.chapter_admin
{
  border: 1px solid #c4c5ca;
  width: 500px;
  margin-top: 50px;
  padding: 10px;
  border-radius: 5px;
}
#createChapter, #editChapter
{
  max-width: 960px;
  margin: auto;
  padding: 5px;
}
.comment_admin
{
  border: 1px solid #c4c5ca;
  max-width: 500px;
  padding: 10px;
  border-radius: 5px;
  margin: auto;
  margin-top: 50px;
}
#commentAdmin
{
  max-width: 960px;
  margin: auto;
  min-height: 200px;
  padding: 5px;
}
.btn-comments
{
  margin-top: 10px;
  display: flex;
  flex-direction: row-reverse;
}
 #tiny_mce_toolbargroup_voice{
      display:flex;
      flex-direction: column;
      
      width: 100% !important;
      height: auto;

    }

    
}

/*===responsive===*/
@media screen and (max-width: 1200px) {
    .postHome
    {
      max-width: 350px;
    }
  }
@media screen and (max-width: 992px) {
    #lastPosts
    {
      flex-direction: column;
      align-items: center;
      padding-left: 10px;
      padding-right: 10px;
    }
    .postHome
    {
      margin-bottom: 50px;
      max-width: 475px;
    }
 }
@media screen and (max-width: 768px) {
    .nav
    {
      display: flex;
    }
    header h1{
    font-size : 3em;
    }
    header h2{
    font-size: 2em;
    }
    #container
    {
      display: flex;
      flex-direction: column;
      padding-left: 10px;
      padding-right: 10px;
    }
    #widget
    {
      display: none;
    }
    #chapter_container
    {
      margin-left: 10px;
      margin-right: 10px;
    }
    #admin_container
    {
      padding-left: 10px;
      padding-right: 10px;
    }
    #chapter_admin_container
    {
      flex-direction: column;
      align-items: center;
    }
    .chapter_admin
    {
      max-width: 100%;
    }
   #tiny_mce_toolbargroup_voice{
      display:flex;
      flex-direction: column;
      
      width: 500px !important;
      height: auto;

    }

    

}
@media screen and (max-width: 576px) {
  .navbar
  {
    position: relative;
  }
  #nav-hamburger
  {
    display: inline-block;
    display: flex;
    align-items: center;
    list-style-type: none;
    position: absolute;
    right: 0;
    margin-right: 5px;
    padding: 10px;
    cursor: pointer;
  }
  .nav
  {
    display: none;
  }
  .date-comment
  {
    float: none;
  }
  header h1{
  font-size : 3em;
  }
  header h2{
  font-size: 2em;
  }
  #avatar-Forteroche{
  display: none;
  }
  .sigNature img{
    width: 150px;
    height: auto;
  }
}
   
 

